.logo{
  border:2px solid gray;
  padding:2px
}
nav{
  background-color: blue;
  color: white;
  padding:1px 0px 0px 0px;
  font-size:20px

}
nav a{
  color:gray;
  text-decoration:none
}

.right-side{
  float: right

}
